<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1.0, user-scalable=no"/>
    <meta name="keywords" content="求道,Vue.js,前端面试题,React.js,React Native">
    <meta name="description" content="求道，是一个专注前端程序员成长的平台">
    <title>求道</title>
    <link rel="icon" type="image/x-icon" href="<%= context.config.publicPath %>favicon.png" />
</head>
<body>
<div id="root"></div>
</body>
</html>
